@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* resolve conflict with Dawn base.css */
/* Dawn uses flexbox for the grid */
.grid {
  @apply flex;
}

/* thus we need to define the grid display */
.tw-grid {
  display: grid;
}

/* Dawn uses hidden: {display: none !important } */
.tw-hidden {
  @apply hidden;
}

/* Cancel TW3 opinionated styles */
@layer base {
  svg,
  video,
  img {
    @apply inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

/* Other theme global styles */
/* update this file to check hmr, also check class names on liquid files */
/* header {
  @apply !bg-pink-100;
} */
